---
name: Update a GitHub Project
on:
  workflow_dispatch: {}
  schedule:
    - cron: "*/10 * * * *"
jobs:
  update-project:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - id: token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
          # permissions: >-
          #   {"projects": "write"}
          # repositories: >-
          #   []
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.3
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: ghproj -v
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: ghproj add
        env:
          GITHUB_TOKEN: ${{steps.token.outputs.token}}
      - uses: suzuki-shunsuke/notify-workflow-error-action@e5e8817e62eb122231d162dbc8309c4d05a21b2e # v0.1.0
        if: always()
        with:
          issue_number: "1"
          status: ${{ job.status }}
